/* App.css */
.App {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

  .footer {
    /* background-color: #333;
    color: #fff; */
    padding: 1rem;
    text-align: center;
    border: solid 3px yellow;
  }
  
  .companies_img{
    width:100%;
  }

  .black_f {
    width: 100%; /* Consider using a percentage or max-width for responsiveness */
    max-width: 1440px; /* This keeps the width from exceeding 1440px */
    height: auto;
    background-color: #0F172A;
    color: #fff;
    display: grid;
    padding: 60px 64px; /* Correct padding syntax */
    grid-template-columns: repeat(7, 1fr); 
    gap: 40px;
    margin: 0 auto; /* Center align the container */
  }
  